/**********************************\
    $VARIABLES
\**********************************/
/**********************************\
    $MIXINS
\**********************************/
/**********************************\
    $FUNCTIONS
\**********************************/
/**********************************\
    $RESETS
\**********************************/
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

h1, h2, h3, h4 {
  margin: 0;
}

/**********************************\
    $HELPERS
\**********************************/
.conteiner {
  margin: 0 auto;
  width: 90%;
  min-width: 288px;
  max-width: 800px;
}

/**********************************\
    $HEADERS
\**********************************/
.header {
  position: relative;
  padding: 40px 0 60px;
  background-image: linear-gradient(207.8deg, #201e1c 16.69%, #f7931a 100%);
}
.header__logo-container {
  text-align: center;
  margin-bottom: 26px;
}

/**********************************\
    $LOGOS
\**********************************/
.logo {
  height: 24px;
  width: 151px;
}

/**********************************\
    $TITLES
\**********************************/
.title--header, .title--tasas {
  font-family: "DM Sans", sans-serif;
  text-align: center;
  font-size: 1.5rem;
  line-height: 1.5rem;
}

.title--header {
  color: #ffffff;
}
.title--tasas {
  color: #201e1c;
}

/**********************************\
    $DESCRIPTIONS
\**********************************/
.description--header, .description--tasas {
  font-family: "DM Sans", sans-serif;
  text-align: center;
  font-size: 0.875rem;
  line-height: 1.125rem;
  margin-top: 26px;
}

.description--header {
  color: #ffe9d4;
}
.description--tasas {
  color: #bababa;
}

/**********************************\
    $BUTTONS
\**********************************/
.button--to-planes {
  position: absolute;
  left: 50%;
  bottom: -16px;
  white-space: nowrap;
  display: inline-block;
  padding: 10px 15px;
  font-family: "DM Sans", sans-serif;
  text-align: center;
  color: #201e1c;
  background-color: #faf8f7;
  border-radius: 4px;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  -webkit-box-shadow: 0 4px 8px rgba(89, 73, 30, 0.16);
          box-shadow: 0 4px 8px rgba(89, 73, 30, 0.16);
  font-size: 0.875rem;
  line-height: 1.125rem;
}
.button--to-planes img {
  vertical-align: middle;
}