/**********************************\
    $MIXINS
\**********************************/

@mixin font-size($size-label) {
  font-size: calcularREM(map-get($font-sizes, $size-label));

  @if ($size-label == "x-big") {
    line-height: calcularREM(map-get($line-heights, big));
  }
  @if ($size-label == "normal") {
    line-height: calcularREM(map-get($line-heights, normal));
  }
  @if ($size-label == "small") {
    line-height: calcularREM(map-get($line-heights, small));
  }
}

@mixin aparence-text($font, $size-label, $text-direction) {
  font-family: $font;
  text-align: $text-direction;
  @include font-size($size-label);
}
