/**********************************\
    $VARIABLES
\**********************************/

//Text colors
$palett: (
  just-white: #ffffff,
  soft-orange: #ffe9d4,
  grey: #bababa,
  warm-black: #201e1c,
  grey-dark: #808080,
  orange: #ff9536,
  secundary-blue: #1a9af7,
  grey-lite: #b5b0ac,
  grey-medium: #757575,
);

//Color Gradients
$color-gd-orange-black: linear-gradient(207.8deg, #201e1c 16.69%, #f7931a 100%);

//Background colors
$background-colors: (
  just-white: map-get($palett, just-white),
  warm-black: map-get($palett, warm-black),
  warm-black-lite: #282623,
  soft-orange: map-get($palett, soft-orange),
  bitcoin-orange: #f7931a,
  soft-blue: #e7f5ff,
  white-shiny: #e5e5e5,
  off-white: #faf8f7,
);

//Fonts
$font-principal: "DM Sans", sans-serif;
$font-secundaria: "Inter", sans-serif;

//Font-sizes
$font-sizes: (
  x-samll: 8px,
  small: 12px,
  normal: 14px,
  default: 16px,
  big: 18px,
  x-big: 24px,
  u-big: 52px,
);

//shadows
$shadow: 0 4px 8px rgba(89, 73, 30, 0.16);

//Line heights
$line-heights: (
  small: 14.52px,
  normal: 18px,
  big: 24px,
);
