/**********************************\
    $HEADERS
\**********************************/

.header {
  position: relative;
  padding: 40px 0 60px;
  background-image: $color-gd-orange-black;

  .header__logo-container {
    text-align: center;
  }
  .header__container-info {
    display: flex;
    flex-direction: column;
    row-gap: 26px;
  }
}
