/**********************************\
    $DESCRIPTIONS
\**********************************/

%description {
  @include aparence-text($font-principal, normal, center);
  margin-top: 26px;
}

.description-- {
  &header,
  &tasas {
    @extend %description;
  }

  &header {
    color: map-get($palett, soft-orange);
  }

  &tasas {
    color: map-get($palett, grey);
  }
}
