/**********************************\
    $TABLAS
\**********************************/
.tabla {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background-color: $color-just-white;
  box-shadow: $shadow;
  margin: {
    top: 14px;
    bottom: 14px;
  }
  border-radius: 8px;
  &__label,
  &__price {
    font-family: $font-principal;
    padding: 12px;
    border-bottom: 2px solid $color-bg-off-white;
  }
  &__label:last-of-type,
  &__price:last-of-type {
    border-bottom: none;
  }
  &__label {
    font-size: map-get($font-sizes, default);
    color: $color-grey-lite;
  }
  &__label:nth-child(2n + 1) {
    border-right: 2px solid $color-bg-off-white;
  }
  &__price {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: map-get($font-sizes, normal);
    color: $color-grey-medium;
  }
  &__price img {
    height: 12px;
    width: 12px;
    margin-left: 20px;
  }
}
