/**********************************\
    $TITLES
\**********************************/

.title-- {
  &header,
  &tasas {
    @include aparence-text($font-principal, x-big, center);
  }
  &header {
    color: map-get($palett, just-white);
  }
  &tasas {
    color: map-get($palett, warm-black);
  }
  &monedas,
  &comisiones {
    @include aparence-text($font-principal, big, left);
  }
  &monedas {
    margin-left: 15px;
    color: map-get($palett, orange);
  }
  &comisiones {
    margin-left: 15px;
    color: map-get($palett, secundary-blue);
  }
}
